.editContainer{
    background-color: black;
    width: 100vw;
    height: 100vh;
    color: white;
    padding: 2rem;
}

.descriptionArea{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.optionArea{
    text-align: right;
}

.musicButton{
    width: 10rem;
    height: 3rem;
    border: none;
    border-radius: 3rem;
    font-size: 1.5rem;
    background-color: rgb(202, 192, 185);
}

.musicButton:hover{
    cursor: pointer;
}