.editContainer{
    background-color: black;
    width: 100vw;
    height: 100vh;
    color: white;
    padding: 2rem;
}

.editContainer .descriptionArea{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.editContainer .titleArea{
    font-size: 1.5rem;
    font-weight: bold;
}

.editContainer .optionArea{
    text-align: right;
}

.editContainer .musicButton{
    width: 10rem;
    height: 3rem;
    border: none;
    border-radius: 3rem;
    font-size: 1.5rem;
    background-color: rgb(202, 192, 185);
}

.editContainer .musicButton:hover{
    cursor: pointer;
}

.editContainer .editArea div{
    margin: 1.5rem 0;
}

.editContainer .pictureEditArea{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.editContainer .pictureEditArea div{
    margin: 0.5rem;
}