.projectThumbContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1.5rem 0;
    border-bottom: solid rgba(216, 208, 208, 0.993) 1px;
}

.pictureArea{
    width: 20rem;
    height: 12.5rem;
}

.thumbNailPicture{
    width: 100%;
    height: 90%;
}

.descriptionArea .titleArea{
    font-size: 1.5rem;
    font-weight: bold;
}

.makeButton{
    border: none;
    background-color: rgb(216, 58, 58);
    width:15rem;
    height: 3rem;
    font-size: 1.5rem;
    color: white;
}

.makeButton:hover{
    cursor: pointer;
}