.category{
    display: grid;
    grid-template-columns: 1fr 11fr;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.categoryTitle{
    font-weight: bold;
}

.categoryContents span{
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.categoryCheckbox{
    margin: 0;
    height: 1rem;
    width: 1rem;
}

.templateThumbContainer{
    border: 1px solid black;
    margin: 2rem;
}

.thumbnailPicture{
    width: 20rem;
}

.thumbnailPicture{
    width: 100%;
    height: 15rem;
}

.templateThumbContainer{
    cursor: pointer;
}

.StoreTemplateModal{
    /* z-index: 2; */
    /* position: absolute; */
    /* height: 100vh;
    width: 100vw; */
    background-color: rgba(0, 0, 0, 0.411);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    /* overflow: auto; */
    padding: 5rem 5rem;

}

.StoreTemplateModalContents{
    background-color: black;
    height: 100%;
    color: white;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 1rem
}

.modalVideoArea{
    height: 33rem;
    align-items: center;
    margin: 1rem;
}

.modalSampleVideo{
    height: 100%;
}

.modalDescription_description {
    display: grid;
    grid-template-columns: auto;
}

.modalConcrete{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.modalDescriptionArea div{
    margin: 0.5rem 0;
}

.buyDesignButton{
    width: 80%;
    margin: 0.5em 0.5rem;
    height: 3rem;
    border: none;
    background-color: rgba(187, 39, 39, 0.904);
    font-size: large;
    color: white;
}

.buyDesignButton:hover{
    cursor: pointer;
}

